body {
    background-color: white;
}

.loginForm {
    width: 35%;
    height: 50%;
    margin: auto;
    padding: 3rem;
    border-radius: 5px;
    background-color: white;
    border: 1px grey solid;
}

button {
    border-radius: 2px;
}

.accessAllowed {
    color: green;
    text-align: center;
    
}

.accessDenied {
    color: red;
    text-align: center;
}
